body {
    padding-top: 56px; /* Adjust based on your top navigation height */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 56px 0 0; /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Sidebar background color */
    width: 250px; /* Fixed width for the sidebar */
    height: calc(100vh - 66px); /* 100% of viewport height minus the top navbar height */
    transition: transform 0.5s ease-in-out; /* Smooth transition for opening/closing */
    overflow-y: auto; /* Add scroll if content exceeds the sidebar height */
}

.main-content {
    margin-left: 250px; /* Сдвиг для открытого бокового меню */
    padding: 20px;
    transition: margin-left 0.5s ease-in-out; /* Плавная анимация для изменения отступа */
}

.sidebar-closed .main-content {
    margin-left: 0; /* Убираем отступ для закрытого бокового меню */
}

.sidebar-toggle-btn {
    position: fixed; /* Изменяем на fixed */
    left: 200px;
    top: 60px; /* Положение по вертикали */
    z-index: 110; /* Высокий z-index, чтобы кнопка была поверх меню */
    background-color: transparent;
    color: #343a40;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: left 0.5s ease-in-out; /* Плавная анимация перемещения кнопки */
}

.sidebar-hidden .sidebar-toggle-btn {
    left: 10px; /* При скрытом меню смещаем кнопку ближе к краю */
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-visible {
    transform: translateX(0);
}

.sidebar-open .sidebar-toggle-btn {
    left: 200px; /* Положение кнопки, когда меню открыто */
}

.sidebar-closed .sidebar-toggle-btn {
    position: absolute; /* Кнопка всегда остаётся на экране */
    left: 10px; /* Положение кнопки на экране (на краю бокового меню) */
    z-index: 999; /* Убедимся, что кнопка над содержимым */
    background-color: transparent; /* Убираем фон */
    color: #343a40; /* Цвет стрелки */
    font-size: 24px; /* Размер стрелки */
    cursor: pointer; /* Курсор указатель */
    transition: left 0.5s ease-in-out; /* Плавная анимация перемещения кнопки */
}

@media (max-width: 1000px) {
    .sidebar {
        height: calc(100vh - 84px);
    }

    .footer p {
        font-size: 16px;
    }
}

@media (max-width: 760px) {
    .main-content {
        margin-left: 0; /* Убираем отступы для мобильных устройств */
        margin-top: 20px;
    }

    .sidebar {
        transform: translateX(-100%); /* По умолчанию скрываем боковое меню */
    }

    .sidebar-visible {
        transform: translateX(0); /* Показываем боковое меню при открытии */
    }

    .sidebar-toggle-btn {
        left: 10px; /* На мобильных устройствах кнопка остаётся на краю экрана */
        display: flex; /* Кнопка всегда видна на мобильных устройствах */
    }

    .footer p {
        font-size: 16px;
    }
}
 h1 {
    margin-bottom: 30px;
 }
 
 h3 {
    margin-top: 20px;
    margin-bottom: 20px;
 }

 p {
    text-indent: 50px;
    text-align: justify;
    font-size: 20px;
 }

 li {
    font-size: 20px;
 }

 li p {
    text-indent: 0px;
 }

 .main-content .container {
    margin-bottom: 50px;
 }

 a {
    text-decoration: none;
 }

 /* Для адаптивности и центрирования картинок, видео */
 .center-media {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.table-responsive {
    margin: 20px 0; /* Отступ сверху и снизу для таблицы */
}

.container h4 {
    margin-top: .5rem;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    padding: 10px 0; /* Отступы сверху и снизу */
}

.cent {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;    /* Центрирование по вертикали */
    height: 80vh;          /* Высота на весь экран */
    text-align: center;     /* Центрирование текста внутри блока */
    text-indent: 0px;
    font-size: 24px;
}